

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



h1 {font-family: 'Muli', sans-serif;
 	font-size:30px;
 	margin-bottom:18px;
 	color:#002F2F;}

h2 {font-family: 'Muli', sans-serif;
	font-size:21px;
	margin-bottom:18px;
	color:#002F2F;}

p {font-family: 'Gentium Book Basic', serif;
	font-size:11px;
	margin-bottom:10px;
	color:#002F2F;}

html, body {
	height: 100%;
    width: 100%;
    margin: 0 auto;
}

#wrapper {
	background: #FEEEBD;
	color: #002F2F;
	height: 100%;
	width: 100%;
	
}
 
#nav {
	font-family: 'Muli', sans-serif;
	font-size:21px;
	margin-bottom:18px;
	color:#002F2F;
	background-color: #FEEEBD;
	float: left;
	width: 180px;
	padding-left: 20px;
	padding-top: 20px;
}
 
#nav a {
    display: block;
    text-decoration: none;
    color:#002F2F;
    background-color: #FEEEBD;
    padding: 4px;
}
 
#nav a:hover,
#nav a:focus {
	color: #002F2F;
	background-color: white;
	border-bottom: none;
}
#nav a:active {
    color: #002F2F;
    background-color: #FEEEBD;
}  
   
#header {
	position: relative;
	background: #FEEEBD;
	color: #002F2F;
	padding: 10px 20px 10px 20px;
	border-bottom:1px solid #002F2F;
}
 
#content {
    padding: 50px 50px 50px 50px;
    padding-left: 160px;
    background-color: #FEEEBD;
}

#top {
	padding: 30px 30px 30px 30px;
	background-color: #FEEEBD;
	color: #002F2F;
	float: left;
	width: 700px;
	padding-left: 20px;
	padding-top: 20px;
}

#middle {
	padding: 30px 30px 30px 30px;
	background-color: #FEEEBD;
	color: #002F2F;
	float: left;
	width: 700px;
	padding-left: 20px;
	padding-top: 20px;
}

#editprofile {
	padding: 30px 30px 30px 30px;
	background-color: #FEEEBD;
	color: #002F2F;
	float: left;
	min-width: 600px;
	padding-left: 20px;
	padding-top: 20px;
}

.highlight1 {
    background: #d1a575  important;
}

.highlight2 {
    background: #FEEEBD  ;
}