h1 {font-family: 'Muli', sans-serif;
 	font-size:26px;
 	margin-bottom:18px;
 	color:#002F2F;}

h2 { font-family: 'Muli', sans-serif;
	font-size:21px;
	margin-bottom:18px; }
	color:#002F2F;}

p {font-family: 'Gentium Book Basic', serif;}

html, body {
	height: 100%;
    width: 800px;
    margin: 0 auto;
}

#wrapper {
	background: #EFECCA;
	color: #002F2F;
	width: 1200px;
	margin: 10px auto;
}
 
#nav {
	font-family: 'Gentium Book Basic', serif;
	background-color: #EFECCA;
	float: left;
	width: 120px;
	padding-left: 20px;
	padding-top: 20px;
}
 
#nav a {
    display: block;
    text-decoration: none;
    color: black;
    background-color: #EFECCA;
    padding: 4px;
}
 
#nav a:hover,
#nav a:focus {
	color: #002F2F;
	background-color: white;
	border-bottom: none;
}
#nav a:active {
    color: #002F2F;
    background-color: #EFECCA;
}  
   
#header {
	position: relative;
	background: #EFECCA;
	color: #002F2F;
	padding: 10px 20px 10px 20px;
	border-bottom:1px solid #002F2F;
}
 
#content {
    padding: 50px 50px 50px 50px;
    padding-left: 160px;
    background-color: #EFECCA;
}

#top {
	background-color: #EFECCA;
	color: #002F2F;
	float: left;
	min-width: 600px;
	padding-left: 20px;
	padding-top: 20px;
}

#editprofile {
	background-color: #EFECCA;
	color: #002F2F;
	float: left;
	min-width: 600px;
	padding-left: 20px;
	padding-top: 20px;
}