h1 {font-family: 'Muli', sans-serif;
 	font-size:26px;
 	margin-bottom:18px;
 	color:#002F2F;}

h2 { font-family: 'Muli', sans-serif;
	font-size:21px;
	margin-bottom:18px; }
	color:#002F2F;}

p {font-family: 'Gentium Book Basic', serif;}

html, body {height: 100%;
            width: 800px;
            margin: 0 auto;}

#wrapper {
  background: white;
  color: black;
  width: 1200px;
  margin: 10px auto;
}
 
#nav {
  background-color: #EFECCA;
  float: left;
  width: 110px;
  padding-left: 20px;
  padding-top: 20px;
}
 
#nav a {
    display: block;
    text-decoration: none;
    color: black;
    background-color: #EFECCA;
    padding: 4px;
    border-left: 3px solid #002F2F;
}
 
#nav a:hover,
#nav a:focus {
    color: black;
    background-color: white;
    border-left-color: #002F2F;
    border-bottom: none;
}
#nav a:active {
    color: black;
    background-color: #EFECCA;
}  
   
#header {
  position: relative;
  background: #EFECCA;
  color: black;
  padding: 10px 20px 10px 20px;
}
 
#content {
    padding: 50px 50px 50px 50px;
    padding-left: 160px;
    background-color: #EFECCA;
}